.partner-slider {
  user-select: none;
  .swiper-wrapper {
    align-items: center;
    transition-timing-function: linear !important;
    .swiper-slide{
      display: inline-flex;
      justify-content: center;
      width: max-content !important;
      img{
        @include md {
          max-width: 90%;
        }
        @include sm {
          max-width: 80%;
        }
      }
    }
  }
}
